<router-outlet></router-outlet>
<section class="container">
    <!-- <h2 class="'text-danget">Data Binding</h2>
    <h4>Interpolation</h4>
    <div>
        <p>{{title}}</p>
        <p>{{5+3}}</p>
        <p>{{5*3}}</p>
        <p>{{x==y}}</p>
        <p>{{hello()}}</p>
        <img src="{{imgSrc}}">
        
    </div>
    <h4>Property Binding</h4>
    <div>
        <img [src]="imgSrc">
        <div [innerHTML]="content"></div>
        <P [style.color]="'red'">HELLO</P>
    </div> -->
    <!-- <h4>Event Binding</h4>
    <button class="btn btn-primary" (click)="testEvent()" >test me</button>
    <h5>{{x}}</h5>
    <input class="form-control" (keyup.enter)="testInput($event)"> -->
    <!-- <h4>Two Way Binding</h4>
    <input class="form-control" [(ngModel)]="testVal">
    {{testVal}} -->
    <h4>Directives</h4>
    <h5>Structural directives (for, if, switch)</h5>
    <!-- <h5>Attribute directives (ngModel, ngClass, ....)</h5> -->
    <!-- <h6>*ngFor</h6>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>first</th>
                <th>last</th>
                <th>odd</th>
                <th>even</th>
                <th>title</th>
                <th>image</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
            let img of data; 
            let i =index; 
            let o=odd; 
            let e=even;
            let f=first;
            let l = last
            "
            [ngClass]="{'alert':true, 'alert-danger':o, 'alert-primary':e}"
            >
                <td>{{i}}</td>
                <td>{{f}}</td>
                <td>{{l}}</td>
                <td>{{o}}</td>
                <td>{{e}}</td>
                <td>{{img.title}}</td>
                <td><img width="50" height="50" [src]="img.url"></td>
            </tr>
        </tbody>
    </table> -->
    <!-- <button 
    (click)="showHide()" 
    [ngClass]="{'btn':true, 'btn-danger':status, 'btn-primary':!status}">
    {{btnText}}
</button>
    <div *ngIf="status;then thenDiv; else elseDiv"></div>
    <ng-template #thenDiv>
        <div class="alert alert-primary">
            True Status
        </div>
    </ng-template>
    <ng-template #elseDiv>
        <div class="alert alert-success">
            False Status
        </div>
    </ng-template> -->
    <input class="form-control" [(ngModel)]="moNum">
    <div [ngSwitch]="moNum">
        <p *ngSwitchCase="1">jan</p>
        <p *ngSwitchCase="2">feb</p>
        <p *ngSwitchCase="3">mar</p>
        <p *ngSwitchCase="4">apr</p>
        <p *ngSwitchCase="5">may</p>
        <p *ngSwitchDefault>invalid</p>
    </div>
</section>
